---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
  {%- for post in site.posts -%}
    <li class="post-preview">
      <div class="post-preview-content">
        <div class="post-text">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if post.description -%}
            <p class="post-description">{{ post.description }}</p>
          {%- endif -%}
        </div>

        {%- if post.image -%}
          <div class="post-image-wrapper">
            <img src="{{ post.image | relative_url }}" alt="Preview for {{ post.title }}" class="post-image">
          </div>
        {%- endif -%}
      </div>
    </li>
  {%- endfor -%}
</ul>


  {%- endif -%}

</div>
